.header-text {
	font-size: 40px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold; 
    text-decoration: underline; 
    color: green;
}

.color-text {
	font-size: 24px;
    color: crimson;
    margin-bottom: 40px;
    text-align: center;
}

#hw_9 {
    position: absolute;
    top: 35%;
    left: 25%;
    height: 1000px;
    width: 1000px;
  }

.info {
    font-size: 24px;
    text-align: center;
    font-family: sans-serif;
}